
/* Mobile (up to 767px) => 300px width */
  @media (max-width: 767px) {
    .responsive-qr-image {
      width: 300px;
    }
  }
  
  /* From 768px and above => 600px width */
  @media (min-width: 768px) {
    .responsive-qr-image {
      width: 600px;
      max-height: 400px !important;
    }
  }
  
  /* Welcomepg.css */

.hover-button {
    margin-top: 20px;
    background-color: rgb(0, 0, 0);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
  }
  
  .hover-button:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  